@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');

.logo-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.logo-wrapper a {
    display: inline-flex;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: -1px;
    transition: color 0.3s ease;
}

.logo-wrapper a strong {
    font-family: 'Playfair Display', serif;
    font-size: 34px;
    font-weight: 500;
    color: #fff;
    margin-left: 5px;
    letter-spacing: -6px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    margin-right: 10px;
    transition: color 0.3s ease;
}

.logo-wrapper:hover a,
.logo-wrapper:hover a strong {
    color: #f0c419;
}

.nav-link.active {
    font-weight: bold;
    transition: color 0.3s ease, border-bottom-color 0.3s ease, font-weight 0.3s ease;
    color: #fff;
    border-bottom: 1px solid #fff;
}


/* ======= projects style ======= */

.projects .container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: center;
    padding: 2rem 1rem;
}

.projects .box {
    width: 100%;
    max-width: 320px;
    box-sizing: border-box;
    border-radius: 12px;
    overflow: hidden;
    background-color: #1e1e1e;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    position: relative;
}

.projects .box:hover {
    transform: translateY(-8px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.projects .box .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 1rem;
    gap: 0.75rem;
}

.projects .box .item img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.projects .box:hover .item img {
    transform: scale(1.05);
}

.projects .box .item a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
}

.projects .box .item h6 {
    font-size: 20px;
    color: #ffffff;
    font-weight: 600;
    transition: color 0.3s ease;
}

.projects .box .item p {
    font-size: 14px;
    line-height: 22px;
    color: #e0e0e0;
    transition: color 0.3s ease;
}


.projects .box:hover .item h6,
.projects .box:hover .item p {
    color: #1e90ff;
}

.projects .box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    max-width: 300px;
    box-sizing: border-box;
    border-radius: 10px;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}


.projects .btn-see-more {
    background-color: transparent;
    color: #1e90ff;
    border: 1px solid #1e90ff;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    transition: color 0.3s ease, border-color 0.3s ease, transform 0.3s ease;
    margin-top: auto;
    margin-bottom: 1rem;
}

.projects .btn-see-more:hover {
    color: #007acc;
    border-color: #007acc;
}

header {
    background-image: url(../images/header.jpg);
}


















#showFormButton {
    padding: 12px 20px;
    font-size: 16px;
    color: white;
    background-color: #0056b3;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#showFormButton:hover {
    background-color: #0056b3;
}

/* Overlay Style */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: none;
    /* Hidden by default */
    justify-content: center;
    align-items: center;
    z-index: 99999;
}

/* Form Container Style in Overlay */
.overlay .form-container {
    position: relative;
    background: #fff;
    padding: 20px 25px;
    border-radius: 10px;
    width: 90%;
    max-width: 400px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

/* Close Button Style */
.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
    color: #333;
}

.close-button:hover {
    color: #007BFF;
}

/* Overlay Style */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    /* Darker background for better focus on the form */
    display: none;
    /* Hidden by default */
    justify-content: center;
    align-items: center;
    z-index: 1000;
    overflow: hidden;
    /* Prevent scrolling while overlay is active */
}

/* Form Container Style in Overlay */
.overlay .form-container {
    position: relative;
    background: #fff;
    padding: 30px;
    /* Add padding for breathing space */
    border-radius: 12px;
    /* Softer rounded edges */
    width: 90%;
    max-width: 450px;
    /* Increased max-width for better layout */
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    /* Enhanced shadow for a lifted appearance */
    animation: fadeIn 0.3s ease-in-out;
    /* Smooth entry animation */
}


/* Fade-in Animation */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');

.logo-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.logo-wrapper a {
    display: inline-flex;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: -1px;
    transition: color 0.3s ease;
}

.logo-wrapper a strong {
    font-family: 'Playfair Display', serif;
    font-size: 34px;
    font-weight: 500;
    color: #fff;
    margin-left: 5px;
    letter-spacing: -6px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    margin-right: 10px;
    transition: color 0.3s ease;
}

.logo-wrapper:hover a,
.logo-wrapper:hover a strong {
    color: #f0c419;
}



button {
    font-size: 14px;
    line-height: 21px;
    cursor: pointer;
    padding: 0.5rem 1rem;
    color: #fff;
    background-color: transparent;
    border: none;
    display: flex;
}

button.active,
button:hover {
    color: #999;
    border-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: #fff;
    display: flex;
}


.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    /* Ensures overlay is on top */
}

.form-container {
    position: relative;
    background-color: #fff;
    padding: 20px 25px;
    border-radius: 10px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    width: 90%;
    max-width: 400px;
    font-size: 14px;
}

.form-container label {
    display: block;
    margin-bottom: 6px;
    font-weight: bold;
    color: #333;
}

.form-container input,
.form-container select,
.form-container textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
    box-sizing: border-box;
    background-color: #f9f9f9;
    color: #555;
}

.form-container input:focus,
.form-container select:focus,
.form-container textarea:focus {
    border-color: #007BFF;
    outline: none;
    background-color: #fff;
}

.form-container input[type="submit"] {
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
    padding: 12px 20px;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.form-container input[type="submit"]:hover {
    background-color: #0056b3;
}

.close-button {
    position: absolute;
    top: 15px;
    right: 15px;
    color: #f44336;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

}

.close-button:hover {
    background-color: #f44336;
    color: white;
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

textarea {
    resize: none;
    font-family: Arial, Helvetica, sans-serif;
}

button .material-icons {
    font-size: 20px;
    margin-right: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');

.logo-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.logo-wrapper a {
    display: inline-flex;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: -1px;
    transition: color 0.3s ease;
}

.logo-wrapper a strong {
    font-family: 'Playfair Display', serif;
    font-size: 34px;
    font-weight: 500;
    color: #fff;
    margin-left: 5px;
    letter-spacing: -6px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    margin-right: 10px;
    transition: color 0.3s ease;
}

.logo-wrapper:hover a,
.logo-wrapper:hover a strong {
    color: #f0c419;
}

.nav-link.active {
    font-weight: bold;
    transition: color 0.3s ease, border-bottom-color 0.3s ease, font-weight 0.3s ease;
    color: #fff;
    border-bottom: 1px solid #fff;
}

.gallery ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    list-style: none;
    padding: 0;
}

.gallery li {
    font-size: 14px;
    line-height: 21px;
    color: #999;
    cursor: pointer;
    padding: 0.5rem 1rem;
    border: 1px solid transparent;
    border-radius: 4px;
}

.gallery li.active,
.gallery li:hover {
    color: #fff;
    border-color: #fff;
    background-color: #333;
}

button {
    font-size: 14px;
    line-height: 21px;
    cursor: pointer;
    padding: 0.5rem 1rem;
    color: #fff;
    background-color: transparent;
    border: none;
    display: flex;
}

button.active,
button:hover {
    color: #999;
    border-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: #fff;
    display: flex;
}

.grid-wrapper {
    width: 100%;
    margin: 0 auto;
}

.grid-item {
    width: calc(33.333% - 16px);
    margin-bottom: 16px;
}

.grid-item img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
}

@media (max-width: 768px) {
    .grid-item {
        width: calc(50% - 16px);
    }
}

@media (max-width: 480px) {
    .grid-item {
        width: 100%;
    }
}


.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    /* Ensures overlay is on top */
}

.form-container {
    position: relative;
    background-color: #fff;
    padding: 20px 25px;
    border-radius: 10px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    width: 90%;
    max-width: 400px;
    font-size: 14px;
}

.form-container label {
    display: block;
    margin-bottom: 6px;
    font-weight: bold;
    color: #333;
}

.form-container input,
.form-container select,
.form-container textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
    box-sizing: border-box;
    background-color: #f9f9f9;
    color: #555;
}

.form-container input:focus,
.form-container select:focus,
.form-container textarea:focus {
    border-color: #007BFF;
    outline: none;
    background-color: #fff;
}

.form-container input[type="submit"] {
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
    padding: 12px 20px;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.form-container input[type="submit"]:hover {
    background-color: #0056b3;
}

.close-button {
    position: absolute;
    top: 15px;
    right: 15px;
    color: #f44336;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

}

.close-button:hover {
    background-color: #f44336;
    color: white;
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

textarea {
    resize: none;
    font-family: Arial, Helvetica, sans-serif;
}

button .material-icons {
    font-size: 20px;
    margin-right: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}